/*Fuentes: H1 Roboto Black, H2 Roboto Bold, h3 Roboto Bold Italic, P Roboto Regular*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,400;1,700&display=swap');

/*Estilos globales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Variables css*/
:root {
    --colorPrincipal: #071A5C;
    --colorSegundario: linear-gradient(90deg, #71CA6D, #439847);
    --colorTerceario: #D7A310;
    --titulo1: 'Roboto', sans-serif; font-weight: 900;
    --titulo2: 'Roboto', sans-serif; font-weight: 700;
    --titulo3: 'Roboto', sans-serif; font-weight: 700;
    --titulo4: 'Roboto', sans-serif; font-weight: 700; 
    --parrafo: 'Roboto', sans-serif; font-weight: 400;
}

/*Estilos de fuentes*/
h1 {
    font-family: var(--titulo1);
    font-size: 2.5rem;
    color: #093146;
}
h2 {
    font-family: var(--titulo2);
    font-size: 2rem;
    color: #ffffff;
}
h3 {
    font-family: var(--titulo3);
    font-style: italic;
    font-size: 1.5rem;
}
h4 {
    font-family: var(--titulo4);
    color: var(--colorPrincipal);
    font-size: 1.3rem;
    margin: 0.5em 0; /* 10px de margen superior e inferior, y 'auto' para centrarlo horizontalmente */
    text-align: center; /* Para asegurarte de que el texto esté centrado horizontalmente */
}
p {
    font-family: var(--parrafo);
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.4;
    align-items: center;
}
.iconos p {
    font-size: 0.8rem;
}
span {
    font-size: 1.5em;
}
/*Estilos barra de navegacion*/
nav {
    display: flex;
    align-items: center;
    background: var(--colorPrincipal);
    height: 10vh;
    padding: 10px 20px;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 10px;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding-left: 30px;
}

/* Establecer ancho y alto de la imagen */
.logo img {
    height: 60px;
    margin-right: 30px;
}

/* Botón "Matrícula" */
.matricula {
    background-color: #034725;
    color: #fff;
    padding: 5px 25px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-left: auto; 
    border-radius: 50px;
}
/*Estilos de secciones*/
/*Seccion 1*/
.seccion1 {
    width: 100%;
    height: auto;
    padding: 0 2em 0 2em;
    background: var(--colorSegundario);
    display: flex;
    justify-content: center;
    align-items: center;

}
.seccion1 img, .seccion2 img {
    max-width: 100%;
    height: auto;
}
/*Seccion 2*/
.seccion2 {
    width: 100%;
    height: auto;
    background: var(--colorPrincipal);
    display: flex;
    justify-content: center;
}
.seccion2-texto {
    width: auto;
    margin: 2em;
}
.seccion2-texto p {
    max-width: 600px;
}
.encabezado {
    max-width: 700px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    margin-left: 2em;
    order: 1;
}
/*Seccion 3*/
.seccion3 {
    width: 100%;
    height: auto;
    padding: 0 2em 0 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.iten {
    max-width: 650px;
    margin: 0 2em;
}
.valores {
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenedorValores {
    max-width: 100%;
    margin: 2em ;
    display: flex;
    justify-content: space-evenly;
}
.iconos {
    margin: 0 8rem;
    max-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    
}

/* Aplicar un margen a los elementos h1 y p */
.encabezado h1, p {
    margin: 0.5em 0;
}
.seccion3 h2 {
    margin: 2em 0;
    text-align: center;
}
.valores h3, .valores p {
    text-align: center;
}
/*Aplicacion de responsividad*/
@media screen and (max-width: 768px) {
    .seccion1, .seccion2{
        flex-direction: column;
    }   
    .seccion1 img {
        order: 2;
    }
    .encabezado {
        margin: 0;
    }
    .seccion3 {
        padding: 0;    
    }
    .contenedor, .contenedorValores {
        flex-wrap: wrap;
    }
     /* Cambiar estilos para tamaños de pantalla más pequeños */
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.8em;
    }
    h3 {
        font-size: 1.6em;
    }
    p {
        font-size: 0.9em; 
        line-height: 1.3;
        text-align: justify;
    }
    span {
        font-size: 1.4em;
    }
}
hr {
    background: var(--colorTerceario);
    width: 100%;
    height: 25px;
    border: none;
}
iframe {
    border-radius: 15px;
    box-shadow: 1px 2px 2px 2px rgba(103, 171, 188, 0.61);
}
.seccion7 h2, .seccion7 p, .seccion3 p, .seccion3 h2 {
    color: black;
}